<div class="pusher">
  <div class="main-content">
    <div class="ui grid stackable padded">
      <form class="ui form segment" [formGroup]="editDeviceForm" (ngSubmit)="save()">
        <div class="field">
          <label>Name</label>
          <input type="text" name="name" placeholder="Name" formControlName="name">
          <div *ngIf="submitted && rfc.name.errors" class="ui basic red pointing prompt label transition visible">
            <small *ngIf="rfc.name.errors.required">Please enter your device name.</small>
          </div>
        </div>

        <div class="field">
          <label>Type</label>
          <input type="text" name="type" placeholder="Type" formControlName="type">
        </div>
        <div *ngIf="submitted && rfc.type.errors">
          <small *ngIf="rfc.type.errors.required">Please enter your device type.</small>
        </div>
        <button class="ui button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

